// ---- IMPORT BUNDLE -------------

@import "../../../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css";
@import "./content.scss";
@import "./ieditor.scss";
@import "./select.scss";
@import "./toggle.scss";
@import "./cnxml.scss";
@import "./diff.scss";

// ---- VARIABLES -----------------

$primary: #3174f1;
$tool-height: 40px;
$separator: #e7e7ea;

// ---- CNX BRIDGE CORE -----------

.cnxb {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  font-size: 14px;
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif;

  // Hide.
  opacity: 0;
  z-index: 0;
  overflow: hidden;
  visibility:hidden;
  transform: scale(0.95) translateZ(0);
  transition: visibility 0s linear 0.5s, opacity .3s ease, transform .3s ease;

  &.active {
    // Show.
    opacity: 1;
    z-index: 3000;
    visibility:visible;;
    transform: scale(1) translateZ(0);
    transition: opacity .3s ease, transform .3s ease, visibility 0s;
  }

  // ---- NAVIGATOR ----------------

  &__navigator {
    height: 100%;
    width: 320px;
    display: block;
    min-width: 320px;
    font-weight: 400;
    position: relative;
  }

  &__toolbox {
    width: 100%;
    height: $tool-height;
    border-bottom: 1px solid $separator;

    & button {
      width: 44px;
      height: 40px;
      border: none;
      color: #797979;
      cursor: pointer;
      background: none;
      position: relative;
      transition: background .3s ease, color .3s ease;

      // Glass.
      &:before {
        content: ' ';
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
      }

      &.active,
      &:active {
        color: $primary;
      }

      &:hover,
      &:focus,
      &.active {
        outline:none;
        font-weight: bold;
      	background: linear-gradient(to bottom, #f7f7f7 94%, $primary 94%);
      }
    }
  }

  &__outliner {
    width: 100%;
    height: 100%;

    & .cnxb-panels {
      height: 100%;
      position: relative;
    }
  }

  // ---- WORKSPACE ---------------

  &__workspace {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    color: #282828;
    font-size: 15px;
    line-height: 23px;
    position: relative;
    font-family: 'Roboto', sans-serif;
  }

  &__toolbar {
    width: 100%;
    height: $tool-height;
  }

  &__content {
    left: 0;
    right: 0;
    bottom: 0;
    top: 40px;
    position: absolute;

    img {
      max-width: 100%;
      height: auto;
    }

    & > div {
      top: 0;
      left:0;
      right: 0;
      bottom: 0;
      margin: 0 15px;
      position: absolute;
    }
  }

  // Empyt wrapper.
  &-empty {
    color: #999;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    border: 1px dashed #ccc;
  }

  & #InputProxy {
    z-index: 0;
    position: absolute;
    visibility: hidden;
  }
}

// Class for document.body
.passive {
  overflow: hidden;
}
