// ---- Inline styles ---------

term {
  color: #83a;
  font-weight: bold;
}

emphasis[effect="italic"] {
    font-style: italic;
}

emphasis[effect="bold"] {
  font-weight: bold;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

// ---- Images ----------------

div[data-type=figure] > div[data-type=title] p {
  text-align: center;
}

p[data-target=editable] img {
  display: block;
  margin: 0 auto;
}

div[data-type=caption] > p[data-target=editable] {
  color: #666 !important;
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

// ---- References --------------

reference {
  color: #49a6f2;
  text-decoration: underline;
}

// ---- Equations ---------------

div[data-type=equation] p {
  text-align: center;
}

// ---- Comments ----------------

quote[type="comment"] {
  padding: 0 2px;
  color: #212121;
  background: #ffde00;
  transition: background .3s ease;

  &.active {
    background: #ff9800;
  }
}

// Comment marker.
cm {
  cursor: pointer;
  position: relative;

  & > i.material-icons {
    color: #ffde00;
    font-size: 18px;
    vertical-align: top;
  }

  // Glass.
  &:before {
    content: ' ';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
}

// ---- Titles ----------------

div[data-type=section] > div[data-type=title] > p {
  font-size: 18px;
  font-weight: bold;
  color: #2a2a2a !important;
}

div[data-type=title] > p {
  font-size: 16px;
  font-weight: bold;
  color: #3b6180 !important;
}

// ---- Lists ----------------

div[data-type=list] {
  padding-left: 10px;
}

div[data-type=item] {
  display:list-item;
  margin-left: 10px;
}


// ---- Tables ----------------

div[data-type=table] {
  display: table;
  margin: 0 auto;
  width: 100%;
}

div[data-type=thead] {
  width: 100%;
  display: table;
  font-weight: bold;
}

div[data-type=tbody] {
  display: table;
  width: 100%;
}

div[data-type=row] {
  display: table-row;
  &:nth-child(even) {
    background: #e1e1e1;
  }
}

div[data-type=entry] {
  display: table-cell;
  padding: 0 5px;
  & > p {
    margin: 5px 0 !important;
  }
}
