// ---- Content Wrapper ---------------
.cnxb .content > div {
  margin: 15px;
  width: 920px;
  background: white;
  padding: 15px 25px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  &:last-of-type {
    margin-bottom: 50px;
  }

  // ---- Editable Container -----------
  & p[data-target=editable] {
    border: none;
    color: #181818;
    margin: 10px 0;
    padding: 1px 0;
    border-radius: 0;
    position: relative;
    transition: background .3s ease;

    &:focus {
      outline: none;
      background: #ededed;
    }
  }
}
