
// ---- INSERT ELEMENTS ----------------

ins {
  min-width: 4px;
  min-height: 15px;
  position: relative;
  display: inline-block;
  user-select: none !important;

  &[data-skip-merge] {
    display: block;
  }

  &:before {
    content: ' ';
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }

  & > img {
    border: 4px solid #8de45e;
  }

  background: #8de45e;
}

// ---- DELETE ELEMENTS ----------------

del {
  min-width: 4px;
  min-height: 15px;
  position: relative;
  display: inline-block;
  user-select: none !important;;

  &[data-skip-merge] {
    display: block;
  }

  &:before {
  	content: ' ';
    top: 0;
    left: 0;
  	z-index: 50;
  	width: 100%;
  	height: 100%;
  	display: block;
  	position: absolute;
  }

  & > img {
    opacity: 0.5;
    border: 4px solid #f29066;
  }

  background: #f29066;
}
