$toggle-active: #ffde00;

.cnxb-toggle {
  display: inline-block;

  & > input {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;

    &:checked + label {
      color: #333;
      background-color: $toggle-active;
    }

    &:checked + label:after {
      margin-left: 35px;
      background-color: white;
    }

    & + label {
      padding: 2px;
      width: 45px;
      height: 14px;

      color: #ddd;
      font-size: 9px;
      line-height: 15px;
      padding-left: 6px;
      font-weight: bold;

      display: block;
      outline: none;
      cursor: pointer;
      user-select: none;
      position: relative;
      border-radius: 60px;
      background-color: #ddd;
      transition: background 0.4s, color 0.4s;

      &:after {
        content: "";
        display: block;
        position: absolute;
      }

      &:after {
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: 14px;
        border-radius: 52px;
        background-color: white;
        transition: margin 0.4s, background 0.4s;
      }
    }
  }
}
