$toggle-active: #ffde00;

.cnxb-toggle {
  display: inline-block;

  & > input {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;

    &:checked + label {
      background-color: $toggle-active;
    }

    &:checked + label:after {
      margin-left: 16px;
      background-color: white;
    }

    & + label {
      padding: 2px;
      width: 30px;
      height: 14px;
      display: block;
      cursor: pointer;
      outline: none;
      user-select: none;
      position: relative;
      border-radius: 60px;
      background-color: #dddddd;
      transition: background 0.4s;

      &:after {
        content: "";
        display: block;
        position: absolute;
      }

      &:after {
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: 14px;
        border-radius: 52px;
        background-color: white;
        transition: margin 0.4s, background 0.4s;
      }
    }
  }
}
